.DS_Store
node_modules/
*.tsbuildinfo
packages/**/*.tsbuildinfo
dist/
.next/

# React Router
.react-router/
build/

# Turborepo
.turbo/

# Tauri
apps/livrea/src-tauri/target/
apps/livrea/src-tauri/gen/

# Bun
bun.lockb

.env.keys
.idea/
